.banner{
    height: 50vh;
    position: relative;
    background: url("https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center;
}

.banner__info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__info > button {
    background-color: #ff7799;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7799;
}

.banner__search{
    display: flex;
    flex-direction: column;
}

.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7799 !important;
}